*.zip
*.whl
*.whl.part
*.whl.part.tmp
*.whl.part.tmp.tmp
*.whl.part.tmp.tmp.tmp
*.whl.part.tmp.tmp.tmp.tmp
*.whl.part.tmp.tmp.tmp.tmp.tmp
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Machine learning
*.pth
*.pt
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2
*.pth.tar.xz
*.pth.tar.lzma
# Images and Videos
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.heic
*.heif
*.hevc
*.h264
*.h265
*.h266

# csv files
*.csv
*.csv.gz
*.csv.bz2
*.csv.xz
*.csv.lzma

# compressed files
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma

.vscode
*.json
*.jsonl
*.jsonl.gz
*.jsonl.bz2
*.jsonl.xz
*.jsonl.lzma


*.rtf
*.mat
*.mat.gz
*.h5
*.h5.gz
*.h5.bz2
*.h5.xz
*.h5.lzma

*.pdf
*.pdf.gz
*.pdf.bz2
*.pdf.xz
*.pdf.lzma

*.mp4
*.mp4.gz
*.mp4.bz2
*.mp4.xz
*.mp4.lzma
*.gz
*.bz2
*.xz
*.lzma
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma

*.txt